{{ define "main" }}
<article>
  <header class="post-header">
    {{ if and .Date (not .Date.IsZero) }}
    <p class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{ with .Params.tags }}
        <span class="post-tags">
            ●
            {{ range $index, $tag := . }}
            {{ if $index }}, {{ end }}
                <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>
            {{ end }}
        </span>
        {{ end }}
    </p>
    {{ end }}

    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<p class="lead">{{ . }}</p>{{ end }}
  </header>
  <div class="prose">
    {{ .Content }}
  </div>
</article>
{{ end }}
